.d-block {
  display: block;
}

.d-none {
  display: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header {
  background-color: blue;
  color: white;
}

main {
  background-color: green;
  color: white;
}

footer {
  background-color: black;
  color: white;
}

.info_experience table {
  border-collapse: collapse;
}

.info_experience td {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1em;
  vertical-align: top;
  padding-top: 1em;
  padding-bottom: 1em;
}

.info_experience  tr td {
  border-top: none;
}

.info_experience  div > h2 {
  border-bottom: 1px solid gray;
}

.info_experience  td h2 {
  margin: 0;
} 

.start {
  margin: 0;
  border-bottom: 1px solid gray;
  padding-top: 1em;
  padding-bottom: 1em;
}

.background, .charactor, .active {
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
}

.tableStart {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.info_project table {
  border-collapse: collapse;
  border: 1px solid gray;
}

.info_project tr td, .info_project tr th{
  text-align: center;
  padding: 1em;
  border: 1px solid gray;
}

.info_project > h2:nth-of-type(1), .info_experience > h2:nth-of-type(1), .info_school > h2:nth-of-type(1), .info_skill > h2:nth-of-type(1) {
  cursor: pointer;
}

.info_project > h2:nth-of-type(1):hover, .info_experience > h2:nth-of-type(1):hover, .info_school > h2:nth-of-type(1):hover, .info_skill > h2:nth-of-type(1):hover {
  opacity: 50%;
}