.d-block {
  display: block;
}

.d-none {
  display: none;
}

.bg-select {
  background-color: rgb(215, 215, 215);
}

.bg-white {
  background-color: white;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  box-shadow: 0 2px 4px #0000001a;
  z-index: 1;
}

header h2 {
  margin: 0;
}

main {
  padding-top: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-left: 1em;
  padding-right: 1em;

}

.left_info {
  width: 45vw;
  padding-bottom: 10vh;
}

.right_info {
  width: 45vw;
  padding-bottom: 10vh;
}

.infoTable {
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
}

h1 {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.left_info > table {
  margin-bottom: 1em;
}

.left_info table td {
  padding-left: 1em;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 90%;
  color: white;
  height: 10vh;
}

footer p {
  margin: 0;
}

.info_experience table {
  margin: 1em;
  border-collapse: collapse;
}

.info_experience td {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1em;
  vertical-align: top;
  padding-top: 1em;
  padding-bottom: 1em;
}

.info_experience  tr td {
  border-top: none;
}

.info_project > h2, .info_experience > h2, .info_school > h2, .info_skill > h2 {
  border-bottom: 1px solid gray;
}

.info_experience  td h2 {
  margin: 0;
} 

.start {
  margin: 0;
  border-bottom: 1px solid gray;
  padding-top: 1em;
  padding-bottom: 1em;
}

.background, .charactor, .active {
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
}

.tableStart {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.info_project table {
  margin: 1em;
  border-collapse: collapse;
}

.info_project tr td, .info_project tr th{
  text-align: center;
  padding: 1em;
  border: 1px solid gray;
}

.info_school table {
  margin: 1em;
  border-collapse: collapse;
}

.info_school tr td, .info_school tr th{
  text-align: center;
  padding: 1em;
  border: 1px solid gray;
}

.info_skill table {
  margin: 1em;
  border-collapse: collapse;
  padding-bottom: 1em;
}

.info_skill tr td, .info_skill tr th{
  text-align: center;
  padding: 1em;
  border: 1px solid gray;
}

.info_skill h2:nth-of-type(2) {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.info_project > h2:nth-of-type(1), .info_experience > h2:nth-of-type(1), .info_school > h2:nth-of-type(1), .info_skill > h2:nth-of-type(1) {
  margin: 0;
  cursor: pointer;
  border-bottom: 1px solid gray;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.info_project > h2:nth-of-type(1):hover, .info_experience > h2:nth-of-type(1):hover, .info_school > h2:nth-of-type(1):hover, .info_skill > h2:nth-of-type(1):hover {
  background-color: rgb(215, 215, 215);
  opacity: 50%;
}

.my_info_btn {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.my_info_btn:hover {
  background-color: rgb(215, 215, 215);
  opacity: 50%;
}
